@media screen and (max-width:300px){
    /* Global */
    
    body{
        background-color: #f4f4f4;
        font-family:Arial, Helvetica, sans-serif;
        font-size:14px;
        line-height:1.6em;
        margin:0;
        width:280px;
        max-height: 620px;
        text-align: center;

    
    }

    input[type = 'button']{
        padding-left: 3px;
        padding-right: 3px;
        height:38px;
        width:80px;
        color: white;
        border:0;
        cursor:pointer;
        font-size:12px;
        font-weight:300;
        border-radius:4px;

    }


  

    /* Website box */

    #website-box{
        text-align: center;
        padding-bottom: 10px;
    }

    #website-box .heading{
        font-weight:500;
        color:#868e97;
    }
        
    #website-list{
        list-style-type:none;
    }

    ul, li {
         margin: 0; padding: 0; 
    }

    #add-button{
        background:#3e4444;
    }

    .delete-button{
        color:red;
        border-color: black;
        cursor:pointer;
        display:inline-block;
        margin:0;
    }


    /* Time Box */

    #time-box .heading{
        font-weight:500;
    }

    #time-box{
        text-align: center;
        background:#3e4444;
        color:#868e97;
        border-top:#82b74b 2px solid;
        padding-top:5px;
        padding-bottom:10px;
        margin-bottom:20px;
    }



    input[type='time']{
       display:block;
       float:center;
       margin:0 auto;
       margin-bottom:5px;
       margin-top:5px;


    }
    #submit-websites{
        background: #82b74b;
        margin-top:10px;
        margin-bottom:5px;
    }

    #error-message{
        background-color:#ED6160;
    }

    #success-message{
        background-color:#82b74b;
        
    }

    .message{
        border-radius: 3px;
        color:#f4f4f4;
        display:block;
        margin-left:40px;
        margin-right:40px;
        padding: 3px;
        margin-top:10px;
        margin-bottom:0;
    }


    /* Navagation Bar */
    #nav-bar{
        position:fixed;
        bottom:0;
        width:100%;
        background-color: #f4f4f4;
        display:flex;
        overflow-x:auto;
    }

    .nav-link{
        display:flex;
        flex-direction:column;
        flex-grow:1;
        justify-content: center;
        align-items:center;
        min-width:50px;
        overflow:hidden;
        white-space:nowrap;
        color:#444444;
    }

    .nav-link:hover{
        background-color:#eeeeee;
    }

    .current-page{
        color:#82b74b;
    }



    /* Timer.html styling */

    #countdown{
        font-size:42px;
        color: #82b74b;
    }

    #timer-box{
        display:flex;
        flex-direction:column;
        justify-content:center;
        height:266px;
    } 
}


#main-header{
    font-size:20px;
    text-align: center;
    background:#3e4444;
    color: white;
    padding:3px;
    border-bottom:#82b74b 2px solid;
    margin:0;
}
#main-header2{
    font-size:30px;
    text-align: center;
    background:#3e4444;
    color: white;
    border:#82b74b 2px solid;
    width:128px;
    height:128px;
}


header .highlight{
    color:#82b74b;
    font-weight:Bold;
}


/* redirect html */
@media screen and (min-width:300px){
    body{
        background-color: #f4f4f4;
        font-family:Arial, Helvetica, sans-serif;
        font-size:14px;
        line-height:1.6em;
        margin:0;
    }

    #image-box{
        text-align: center;
        height: 480px;   
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size:cover; /* Resize the background image to cover the entire container */  
    }
    #redirect-heading{
        margin:0;
        padding:0;
        font-size:42px;
        color:white;
    }
}
